.portfolio_bg
    background-color: #ffdd99
    .portfolio
        height: 1400px
        margin: 0 auto
        max-width: 1100px
        padding-top: 60px
        position: relative
        .portfolio_text
            position: absolute
            top: 117px
            left: 215px
            text-align: center
            color: #3c4761
            .border
                background-color: #e5c37f
            .portfolio_title
                font-size: 35px
                font-weight: bold
            .portfolio_subtitle
                font-size: 17px
                display: block
                width: 665px
                margin-top: 50px
        .portfolio_nav
            position: absolute
            margin-left: 50%
            margin-right: 251px
            left: -253px
            -moz-animation-iteration-count:
            top: 300px
            li
                background-color: #000000
                cursor: pointer
                display: inline-block
                color: #353535
                font-size: 22px
                height: 40px
                width: 85px
                margin-right: 10px
                border-radius: 5px
                padding: 10px 15px 0 15px
                text-align: center
            li:hover
                background-color: #ffffff
            .active
                background-color: #ffffff
        .portfolio_items
            margin-top: 300px
            .portfolio_item
                height: 300px
                width: 49%
                display: inline-block
                text-align: center
                margin-top: 60px
                margin-left: 5px

                div
                    height: 100%
                    width: 100%
                .work_name
                    padding: 15px
                    display: block
                    color: #3c4761
                .first
                    background-image: url(../img/works/work1.png)
                    background-position: center center

                .second
                    background-image: url(../img/works/work2.png)
                    background-position: center center
                .third
                    background-image: url(../img/works/work3.png)
                    background-position: center center
                .fourth
                    background-image: url(../img/works/work4.png)
                    background-position: center center
                .item
                    transition: transform .3s
                .item:hover
                    transform: scale(1.05 , 1.05)
        button
            background-color: #17c2a4
            width: 295px
            height: 70px
            border: none
            border-radius: 5px
            border-bottom: 3px solid #13a78d
            color: #ffffff
            font-size: 15px
            font-weight: bold
            position: absolute
            bottom: 115px
            left: 400px
            cursor: pointer